<section id="about">
	<h2>About</h2>
	<p>
		This template is designed to be a simple, easy-to-use starting point for
		your Astro project.
	</p>
	<p>
		This template is designed to be a simple, easy-to-use starting point for
		your Astro project.
	</p>
	<p>
		This template is designed to be a simple, easy-to-use starting point for
		your Astro project.
	</p>
	<p>
		This template is designed to be a simple, easy-to-use starting point for
		your Astro project.
	</p>
	<p>
		This template is designed to be a simple, easy-to-use starting point for
		your Astro project.
	</p>
	<p>
		This template is designed to be a simple, easy-to-use starting point for
		your Astro project.
	</p>
	<p>
		This template is designed to be a simple, easy-to-use starting point for
		your Astro project.
	</p>
	<p>
		This template is designed to be a simple, easy-to-use starting point for
		your Astro project.
	</p>
	<p>
		This template is designed to be a simple, easy-to-use starting point for
		your Astro project.
	</p>
	<p>
		This template is designed to be a simple, easy-to-use starting point for
		your Astro project.
	</p>
	<p>
		This template is designed to be a simple, easy-to-use starting point for
		your Astro project.
	</p>
	<p>
		This template is designed to be a simple, easy-to-use starting point for
		your Astro project.
	</p>
</section>
