<section id="career" data-aos="fade-in">
    <h1>Hello, my name is Tristan Cable</h1>
    <p>
        Welcome to the official <a href="https://astro.build/">Astro</a> blog starter
        template.
    </p>
    <p>
        Welcome to the official <a href="https://astro.build/">Astro</a> blog starter
        template.
    </p>
    <p>
        Welcome to the official <a href="https://astro.build/">Astro</a> blog starter
        template.
    </p>
    <p>
        Welcome to the official <a href="https://astro.build/">Astro</a> blog starter
        template.
    </p>
    <p>
        Welcome to the official <a href="https://astro.build/">Astro</a> blog starter
        template.
    </p>
    <p>
        Welcome to the official <a href="https://astro.build/">Astro</a> blog starter
        template.
    </p>
    <p>
        Welcome to the official <a href="https://astro.build/">Astro</a> blog starter
        template.
    </p>
    <p>
        Welcome to the official <a href="https://astro.build/">Astro</a> blog starter
        template.
    </p>
    <p>
        Welcome to the official <a href="https://astro.build/">Astro</a> blog starter
        template.
    </p>
    <p>
        Welcome to the official <a href="https://astro.build/">Astro</a> blog starter
        template.
    </p>
    <p>
        Welcome to the official <a href="https://astro.build/">Astro</a> blog starter
        template.
    </p>
    <p>
        Welcome to the official <a href="https://astro.build/">Astro</a> blog starter
        template.
    </p>
</section>
