---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Home from "../pages/home.astro";
import About from "../pages/about.astro";
import Skills from "./skills.astro";
import Career from "./career.astro";
import Projects from "./projects.astro";
import Contact from "./contact.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import "../styles/global.css";
import "aos/dist/aos.css";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<Home />
			<About />
			<Skills />
			<Career />
			<Projects />
			<Contact />
		</main>
		<Footer />
	</body>
</html>

<script>
	import AOS from "aos";

	const navLinks = document.querySelectorAll(".nav-link"); // Select all nav links
	const sections = document.querySelectorAll("section"); // Select all sections
	const header = document.querySelector("header");
	const headerHeight = header ? header.offsetHeight : 0; // Get header height or default to 0

	// Update active link and URL on scroll
	const updateActiveLinkAndURL = () => {
		let currentSection = "";
		sections.forEach((section) => {
			const sectionTop = section.offsetTop - headerHeight - 10; // Adjust for header height and small buffer
			const sectionBottom = sectionTop + section.offsetHeight; // Calculate section bottom
			if (
				window.scrollY >= sectionTop &&
				window.scrollY < sectionBottom
			) {
				currentSection = section.getAttribute("id") || "";
			}
		});

		navLinks.forEach((link) => {
			link.classList.remove("active");
			if (link.getAttribute("href") === `#${currentSection}`) {
				link.classList.add("active");
			}
		});

		// Dynamically update the URL without reloading the page
		if (currentSection) {
			const newURL = `#${currentSection}`;
			if (window.location.hash !== newURL) {
				history.replaceState(null, "", newURL); // Update the URL
			}
		}
	};

	// Trigger updateActiveLinkAndURL on scroll
	window.addEventListener("scroll", updateActiveLinkAndURL);

	// Ensure the correct link and URL are active on page load
	window.addEventListener("DOMContentLoaded", () => {
		updateActiveLinkAndURL();
		AOS.init();
	});
</script>
